<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coindex - <%= coinSet[coinId] %></title>
  <link rel="stylesheet" href="../style/app.css">
  <link rel="stylesheet" href="../style/coin.css">

</head>

<body>
  <div class="main">
    <!-- Sidebar -->
    <% include partials/sidebar %>

    <!-- Main Coin Page -->

    <div class="main-body">
      <!-- Coin Title -->
      <div class="title">
        <img class="title-symbol" src="../img/<%= coinId.toUpperCase() %>.svg">
        <h1 class="title-name"><%= coinSet[coinId] %></h1>
        <h3 class="">(<%= coinId.toUpperCase() %>)</h3>
      </div>

      <!--Price graph-->


      <div>
        <!--order book graph-->
      </div>

      <div>
        <!--Trade volume graph-->
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/coin.js"></script>
  <script>
    var coinName = "<%= coinSet[coinId] %>";
    var coinId = "<%= coinId %>";
  </script>
</body>
</html>
